# dependencies
./server/node_modules
./my-best-album/node_modules
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./my-best-album/.pnp
./my-best-album.pnp.js

# testing
./my-best-album/coverage

# next.js
./my-best-album/.next/
./my-best-album/out/

# production
./my-best-album/build

# misc
./my-best-album/.DS_Store
*.pem

# debug
./my-best-album/npm-debug.log*
./my-best-album/yarn-debug.log*
./my-best-album/yarn-error.log*
./my-best-album/.pnpm-debug.log*

# local env files
./my-best-album/.env*.local

# vercel
./my-best-album/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
